#event-container{
margin:auto;
width:80%;

}
#event-row {
	
	
	text-align:center;
	border:1px solid black;
		padding:5% 0%;
	
}
img{
	
	width:40%;
	padding:5% 0%;
	}
#event-col{
	
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	padding-bottom:10%;
	
}
button{
	
	font-size:100%;
	padding:5px 30px;
}
button:hover{
	
	background-color:blue;
	color:red;
	
}